spring-demo/src/main/resources/autotag.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
		   targetNamespace="http://www.vi.com/schema/user"
		   xmlns="http://www.vi.com/schema/user"
		   elementFormDefault="qualified">

	<xs:element name="user">
		<xs:complexType>
			<xs:attribute name="id" type="xs:string" ></xs:attribute>
			<xs:attribute name="usrnm" type="xs:string" ></xs:attribute>
			<xs:attribute name="email" type="xs:string" ></xs:attribute>
		</xs:complexType>
	</xs:element>
</xs:schema>